<div class="product-comment-line">
  <%= form_for defined?(comment) ? comment : [@product, @product.comments.build(:commenter => current_user)] do |f| %>
    <%= substitute_links(
          _('This field supports Markdown formatting ([[more information]])'),
          page_path(:markdown_help),
          :target => '_blank', :class => 'ajax-popup' )
    %>
    <br />
    <%= f.text_area :body, :class => 'commentfield', :size => '60x5', 'data-html' => f.object.body_html %><br />
    <%= f.hidden_field :admin_comment, :value => 1 if defined?(admin_comment) && admin_comment %>
    <%= f.submit( (f.object.new_record? ? _('Create comment') : _('Save comment')), :class => 'smallbutton') %>
  <% end %>
</div>
