  <p>
    <b><%= _("Commenter") %>:</b>
    <%= comment.commenter.username %>

    <% if !comment.commenter_rating.nil? %>
      <%= render :partial => 'ratings/rating', :object => comment.commenter_rating %>
    <% else %>
      <%= _("User has not rated this app") %>
    <% end %>
  </p>
  <p>
    <b><%= _("Created at") %>: </b>
    <%= comment.created_at %>
  </p>
  <p>
    <b><%= _("Comment") %>: </b>
    <%= comment.body %>
  </p>

