<div class="product-comment-current"> 
  <span id="product-comment-name"><%= link_to comment.commenter.username, comment.commenter%> </span>
  <% if can? :edit, comment %>
    <%= render 'comment/form', :comment => comment %>
  <% else %>
    <%= comment.body %><br />
  <% end %>
  <span id="product-comment-time">  <%= comment.created_at%> </span>
  <span id="product-comment-rating">
    <% if !comment.commenter_rating.nil? %>
      <%= render :partial => 'ratings/rating', :object => comment.commenter_rating %>
    <% else %>
      <%= _("(User has not rated this app)") %>
    <% end %>
  </span>
		 	

  <div class="product-comment-buttons">
    <% if can? :delete, comment %>
      <%= button_to _('Delete'), comment, :confirm => _('Are you sure?'), :method => :delete, :class => 'smallbutton' %>
    <% end %>
  </div>
</div>
