<div class="platform_list">
<h1><%= _("Listing platforms") %></h1>

<table>
  <tr>
    <th><%= _("Name") %></th>
    <th><%= _("Image url") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @platforms.each do |platform| %>
  <tr>
    <td><%= platform.name %></td>
    <td><%= link_to platform.image_url, platform.image_url %></td>
    <td><%= button_to _('Show'), platform_path(platform.id), :method => :get if can? :show, platform%></td>
    <td><%= button_to _('Edit'), edit_platform_path(platform.id), :method => :get if can? :edit, platform %></td>
    <td><%= button_to _('Destroy'), platform, :method => :delete,
                                    :confirm => _('Are you sure?') if can? :delete, platform %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to _('New Platform'), :action => "new" if can? :new, Platform, :method => :get %>
</div>
