<p id="notice"><%= notice %></p>

<p>
  <b><%= _("Name") %>:</b>
  <%= @platform.name %>
</p>

<p>
  <b><%= _("Image URL") %>:</b>
  <%= @platform.image_url %>
</p>

<p>
  <b><%= _("Products") %>:</b>
  <% @platform.products.each do |product| %>
    <%= product.name %>
  <% end %>
</p>


<% if can? :edit, @platform %>
  <%= button_to _('Edit'), edit_platform_path(@platform.id), :method => :get, :class => 'smallbutton' %>
	<%= button_to _('List platforms'), platforms_path, :method => :get, :class => 'smallbutton' %>
<% end %>
