<%= form_for @user do |f| %>
	<% if flash[:error] %>
    <div id="error_explanation">
      <h2><%= _("Validation errors prohibited this user from being saved") %>:</h2>

      <ul>
      <% flash[:error].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, :class=>'textfield' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, :class=>'pwfield' %>
  </div>
  <div class="field">
    <%= f.label :password2 %><br />
    <%= f.password_field :password2, :class=>'pwfield' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class=>'textfield' %>
  </div>

  <% unless @user.new_record? %>
    <div class="field">
      <%= f.label :birthdate %><br />
      <%= f.text_field :birthdate, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :gender %><br />
      <%= f.select :gender, [[_('Unspecified'), ''], [_('Male'), 'MALE'], [_('Female'), 'FEMALE']]%>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :website %><br />
      <%= f.text_field :website, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone_number, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :given_name %><br />
      <%= f.text_field :given_name, :class => 'textfield'%>
    </div>

    <div class="field">
      <%= f.label :family_name %><br />
      <%= f.text_field :family_name, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :street_address %><br />
      <%= f.text_field :street_address, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :postal_code %><br />
      <%= f.text_field :postal_code, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :locality %><br />
      <%= f.text_field :locality, :class => 'textfield' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit _('Create user'), :class => 'smallbutton' %>
  </div>
<% end %>
