<%= form_for @user do |f| %>
  <% if flash[:error] || @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= _("Validation errors prohibited user information from being saved") %>:</h2>

      <ul>
      <%
        ( (@user.errors[:terms].present? ?
              [_('In order to register, you must accept the OtaSizzle "Terms and Conditions".')] :
              [] ) +
          (flash[:error] || []) +
          @user.errors.except(:terms).full_messages
        ).each do |msg|
      %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.new_record? %>
    <div class="field">
      <%= f.label :username %> *<br />
      <%= f.text_field :username, :class=>'textfield' %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %><% if @user.new_record? %> *<% end %><br />
    <%= f.password_field :password, :class=>'pwfield' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><% if @user.new_record? %> *<% end %><br />
    <%= f.password_field :password_confirmation, :class=>'pwfield' %>
  </div>

  <div class="field">
    <%= f.label :language %> *<br />
    <%= f.select :language, @available_locales.map { |l| [l[:name], l[:id]] },
                            { :selected => @user.language || I18n.locale.to_s },
                            { :class => 'otherfield' } %>
  </div>

  <div class="field">
    <%= f.label :email %> *<br />
    <%= f.text_field :email, :class=>'textfield' %>
  </div>

  <% unless @user.new_record? %>
    <div class="field">
      <%= f.label :birthdate %><br />
      <%= f.text_field :birthdate, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :gender %><br />
      <%= f.select :gender, [[_('Unspecified'), ''], [_('Male'), 'MALE'], [_('Female'), 'FEMALE']]%>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :website %><br />
      <%= f.text_field :website, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone_number, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :given_name %><br />
      <%= f.text_field :given_name, :class => 'textfield'%>
    </div>

    <div class="field">
      <%= f.label :family_name %><br />
      <%= f.text_field :family_name, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :street_address %><br />
      <%= f.text_field :street_address, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :postal_code %><br />
      <%= f.text_field :postal_code, :class => 'textfield' %>
    </div>

    <div class="field">
      <%= f.label :locality %><br />
      <%= f.text_field :locality, :class => 'textfield' %>
    </div>

    <% if (@user.receive_admin_email && can?(:unset_receive_admin_email, @user)) ||
          (!@user.receive_admin_email && can?(:set_receive_admin_email, @user)) %>
      <div class="field">
        <%= f.label :receive_admin_email, _('Receive admin e-mail') %><br />
        <%= f.check_box :receive_admin_email %>
      </div>
    <% end %>

  <% else %>

    <div class="field">
      <%= f.check_box :terms %>
      <%=
        f.label :terms,
                substitute_links(
                  _('I accept the OtaSizzle [[Terms and Conditions]]'),
                  page_path(:user_terms),
                  :target => '_blank', :class => 'ajax-popup' )
      %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit( @user.new_record? ? _('Register') : _('Save'), :class => 'smallbutton') %>
  </div>
<% end %>
