<p id="notice"><%= notice %></p>

<p>
  <b><%= _("Username") %>:</b>
  <%= @user.username %>
</p>

<p>
  <b><%= _("Firstname") %>:</b>
  <%= @user.given_name %>
</p>

<p>
  <b><%= _("Lastname") %>:</b>
  <%= @user.family_name %>
</p>

<p>
  <b><%= _("Type") %>:</b>
  <% if @user.is_admin? %>
    <%= _('administrator') %>
    <%= render :partial => '/users/revoke_admin_role', :object => @user if can?(:revoke_admin_role, @user) %>
  <% else %>
    <%= _('normal user') %>
    <%= render :partial => '/users/grant_admin_role', :object => @user if can?(:grant_admin_role, @user) %>
  <% end %>
</p>

<p>
  <b><%= _("Email") %>:</b>
  <%= @user.email %>
</p>

<p>
  <b><%= _("Published Products") %>:</b>
  <% @user.published.each do |published_product| %>
    <%= published_product.name %>
  <% end %>
</p>


<% if can? :edit, @user %>
  <%= link_to _('Edit'), edit_user_path(@user) %> |
<% end %>
<%= link_to _('Back'), users_path %>
