<p id="notice"><%= notice %></p>

<p>
  <b><%= _("Username") %>:</b>
  <%= @user.username %>
</p>

<p>
  <b><%= _("Firstname") %>:</b>
  <%= @user.given_name %>
</p>

<p>
  <b><%= _("Lastname") %>:</b>
  <%= @user.family_name %>
</p>

<p>
  <b><%= _("Type") %>:</b>
  <% if @user.is_admin? %>
    <%= _('administrator') %>
    <%= render :partial => '/users/revoke_admin_role', :object => @user if can?(:revoke_admin_role, @user) %>
  <% else %>
    <%= _('normal user') %>
    <%= render :partial => '/users/grant_admin_role', :object => @user if can?(:grant_admin_role, @user) %>
  <% end %>
</p>

<% if can? :view_email_address, @user %>
  <p>
    <b><%= _("Email") %>:</b>
    <%= @user.email %>
    <% if @user.receive_admin_email %>
      (<%= _("receives admin email") %>)
    <% end %>
  </p>
<% end %>

<p>
  <b><%= _("Published Products") %>:</b>
  <%= map_join_nowrap(@user.published) { |p| link_to p.name, p } %>
</p>


<% if can? :edit, @user %>
  <%= button_to _('Edit'), edit_user_path(@user), :class => 'smallbutton', :method => :get %>
<% end %>
<%= button_to _('Back'), :back, :class => 'smallbutton', :method => :get %>
