<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user.given_name %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.family_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Published Products:</b>
  <% @user.published.each do |published_product| %>
    <%= published_product.name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
