<% if logged_in? %>
  <%= form_for [@product, @new_rating_for_current_user] do |f| %>
    <% if @new_rating_for_current_user.errors.any? %>
      <div id="error_explanation">
        <h2><%= _("Validation errors prohibited this rating from being saved") %>:</h2>

        <ul>
        <% @new_rating_for_current_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%=
        f.select(:rating, [['no rating', '']] + Rating.allowed_values)
      %>
    </div>
    <div class="actions">
      <%= f.submit _("Rate") %>
    </div>
  <% end %>
<% end %>
