<p id="notice"><%= notice %></p>

<p>
  <b><%= _("User") %>:</b>
  <%= @rating.user_id %>
</p>

<p>
  <b><%= _("Product") %>:</b>
  <%= @rating.product_id %>
</p>

<p>
  <b><%= _("Rating") %>:</b>
  <%= @rating.rating %>
</p>


<%= link_to _('Edit'), edit_rating_path(@rating) %> |
<%= link_to _('Back'), ratings_path %>
