<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @rating.user_id %>
</p>

<p>
  <b>Product:</b>
  <%= @rating.product_id %>
</p>

<p>
  <b>Rating:</b>
  <%= @rating.rating %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
