<%= form_for :category, :url => { :action => "update", :id => @category.id } do |f| %>
	<% if flash[:error] %>
    <div id="error_explanation">
      <h2><%= _("Validation errors prohibited this user from being saved") %>:</h2>

      <ul>
      <% flash[:error].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, _("Name") %><br />
    <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label :image_url, _("Image URL") %><br />
    <%= f.text_field :image_url %>
  </div>
 
  <div class="actions">
    <%= f.submit _("Submit") %>
  </div>
<% end %>