<h1><%= _("Listing categories") %></h1>

<table>
  <tr>
    <th><%= _("Name") %></th>
    <th><%= _("Image URL") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.image_url %></td>
    <td><%= link_to _('Show'), :action => "show", :id => category.id %></td>
    <td><%= link_to _('Edit'), :action => "edit", :id => category.id %></td>
    <td><%= link_to _('Destroy'), :action => "destroy", :id => category.id, :confirm => _('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to _('New Category'), :action => "new" %>
