<div class="product_new">
<%= form_for @product, :html => { :multipart => true } do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
    <h2><%= _("Validation errors prohibited this product from being saved") %>:</h2>
    <ul>
        <% @product.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<div>
    <p>
        <%= _("Please fill in the following form.") %>
        <br/>
        <%= _("Fields marked with asterisk (*) are compulsory") %>.
    </p>
</div>
<table id="product_form_table">
    <tr>
        <th>
            <%= f.label :name, _('Name of the product') + ' *:' %>
        </th>
        <td>
            <%= f.text_field :name, :class => "textfield" %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :url,_('URL') + ' *:' %>
        </th>
        <td>
            <%= f.text_field :url, :class => "textfield" %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :description, _('Description') + ' *:' %>
        </th>
        <td >
            <%= f.text_area :description, :class => "textfield" %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :platforms, _('Choose a platform') + ' *:' %>
        </th>
        <td>
           <%= f.collection_select :platforms, Platform.all, :id, :name,
                                   { :prompt => true,
                                     :selected => @product.platform_ids },
                                   { :class => 'otherfield',
                                     :name => 'product[platform_ids][]' } %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :photo, (@product.photo? ? _('Change Photo') : _('Add Photo')) + ' :' %>
        </th>
        <td>
            <% if @product.photo? %>
                <%= _('Current photo:') %>
                <%= link_to @product.photo.original_filename, @product.photo.url %>
                (<%= number_to_human_size(@product.photo.size) %>)
                (<%= @product.photo.styles.map { |stylename, _|
                        link_to stylename, @product.photo.url(stylename)
                    }.join(', ').html_safe
                %>)
                <%= f.check_box :delete_photo %><%= f.label :delete_photo, _('Delete') %>
                <br />
                <%= _('Replace with:') %>
            <% end %>
            <%= f.file_field :photo, :class => 'otherfield' %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :tag_list, _('Tags') + ' :' %>
        </th>
        <td>
            <%= f.text_field :tag_list, :class => "textfield",
                             'data-autocomplete-url' => url_for(:action => :autocomplete_tags, :format => :json) %>
        </td>
    </tr>
    <tr>
        <th>
          <%= _('Downloads') + ' :' %>
        </th>
        <td>
          <ul>
            <%= render :partial => "downloads/formfields",
                       :collection => @product.downloads.find_all(&:valid?),
                       :as => :download,
                       :locals => { :edit => true, :delete => true, :form => f } %>
          </ul>
          <dl id="product_new_download">
            <dt><%= _('Add a new download:') %></dt>
            <dd>
              <%= f.fields_for :downloads, @product.downloads.build do |d| %>
                <%= d.label :title, _('Title') + ' :' %>
                <%= d.text_field :title, :class => "textfield" %>
                <br />
                <%= d.label :file, _('File') + ' :' %>
                <%= d.file_field :file, :class => 'otherfield' %>
              <% end %>
            </dd>
          </dl>
        </td>
    </tr>

    <% if @product.new_record? %>
        <tr>
            <td><%= _('Terms and conditions') %></td>
            <td>
                <%= f.check_box :terms %>
                <%= f.label :terms, (
                        _('I accept the OtaSizzle "%{link_begin}Publisher Terms and Conditions%{link_end}"') % {
                          :link_begin => '<a href="' + html_escape(url_for(:action => :publisher_terms)) + '" target="_blank" class="ajax-popup">',
                          :link_end   => '</a>'
                        }
                      ).html_safe %>
            </td>
        </tr>
    <% end %>
    
    <tr>
        <td>
        </td>
        <td>
            <%= f.submit _('Submit'), :class => 'smallbutton' %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%=f.submit _('Cancel') ,:name=>'cancel', :class => 'smallbutton' %>
        </td>
    </tr>
    <% end %>
</table>
</div>
<% if false %>
<div id="left-column">
  <div id="image" style="border:groove;width:130px;height: 140px;">
    <%= _("Drag an image here!") %>
  </div>
  <div class="input">  
    <%= form_for @product, :html => { :multipart => true } do |f| %>
      <%= f.file_field :photo %>
    <% end %>
  </div>
</div>
<% end %>
<div id="space-div">
</div>
