<div id="left-column">
  <div id="image" style="border:groove;width:130px;height: 140px;">
    Drag a image here!

  </div>
  <%=file_field_tag 'Browse'%>
  </div>
<div id="right-column">
<%= form_for(@product) do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %>prohibited this product from being saved:</h2>
    <ul>
        <% @product.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<div>
    <p>
        Please fill in the following form. 
        <br/>
        Fields marked with asterisk (*) are compulsory.
    </p>
</div>
<table>
    <tr>
        <td align="right">
            <%= f.label :name,'Name of the product *:' %>
        </td>
        <td>
            <%= f.text_field :name %>
        </td>
    </tr>
    <tr>
        <td align="right">
            <%= f.label :url,'URL *:' %>
        </td>
        <td>
            <%= f.text_field :url %>
        </td>
    </tr>
    <tr>
        <td align="right">
            <%= f.label :description,'Description *:' %>
        </td>
        <td >
            <%= f.text_area :description %>
        </td>
    </tr>
    <tr>
        <td align="right">
            <%= f.label :platform,'Choose a platform *:' %>
        </td>
        <td>
            <%= f.select :platform, options_for_select([ "all platforms", "web apps", "mobile web apps" ], "all platforms") %>
        </td>
    </tr>
    <tr>
        <td align="right">
            <%= f.label :donate,'Show Donate buttton *:' %>
        </td>
        <td>
            <%= f.radio_button :donate, 'yes' %>Yes<%= f.radio_button :donate, 'no' %>No
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <%= f.submit 'Submit' %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%=f.submit 'Cancel',:name=>'cancel' %>
        </td>
    </tr>
    <% end %>
</table>
</div>
<div id="space-div">
</div>
