<div class="product_new">
<%= form_for @product, :html => { :multipart => true } do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
    <h2><%= _("Validation errors prohibited this product from being saved") %>:</h2>
    <ul>
        <% @product.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<div>
    <p>
        <%= _("Please fill in the following form.") %>
        <br/>
        <%= _("Fields marked with asterisk (*) are compulsory") %>.
    </p>
</div>
<table>
    <tr>
        <td align="right">
            <%= f.label :name, _('Name of the product') + ' *:' %>
        </td>
        <td>
            <%= f.text_field :name, :class => "textfield" %>
        </td>
    </tr>
    <tr>
        <td align="right">
            <%= f.label :url,_('URL') + ' *:' %>
        </td>
        <td>
            <%= f.text_field :url, :class => "textfield" %>
        </td>
    </tr>
    <tr>
        <td align="right">
            <%= f.label :description, _('Description') + ' *:' %>
        </td>
        <td >
            <%= f.text_area :description, :class => "textfield" %>
        </td>
    </tr>
    <tr>
        <td align="right">
            <%= f.label :platforms, _('Choose a platform') + ' *:' %>
        </td>
        <td>
           <%= f.collection_select :platforms, Platform.all, :id, :name,
                                   { :prompt => true,
                                     :selected => @product.platform_ids },
                                   { :class => 'otherfield',
                                     :name => 'product[platform_ids][]' } %>
        </td>
    </tr>
    <tr>
        <td align="right">
            <%= f.label :photo, _('Choose a Photo') + ' :' %>
        </td>
        <td>
           <%= f.file_field :photo, :class => 'otherfield' %>
        </td>
    </tr>
    
    <tr>
        <td>
        </td>
        <td>
            <%= f.submit _('Submit'), :class => 'smallbutton' %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%=f.submit _('Cancel') ,:name=>'cancel', :class => 'smallbutton' %>
        </td>
    </tr>
    <% end %>
</table>
</div>
<!--div id="left-column">
  <div id="image" style="border:groove;width:130px;height: 140px;">
    <%= _("Drag an image here!") %>
  </div>
  <div class="input">  
    <%= form_for @product, :html => { :multipart => true } do |f| %>
      <%= f.file_field :photo %>
    <% end %>
  </div>
</div-->
<div id="space-div">
</div>
