
<div class="<%= cycle("browse_product_left", "browse_product_right",:name=>'browse_products') -%>">
    <div class="browse_product_picture">
      <%= link_to 'picture', product %>
    </div>
    <div class="browse_product_info">
        <div class="browse_row"><%= link_to product.name, product %></div>
        <div class="browse_row">Publisher: <%= link_to product.publisher.username, product.publisher %></div>
        <div class="browse_row">Rating:
          <%= render :partial =>'ratings/rating',
                     :object => product.average_rating,
                     :locals => { :empty_message => '' } %>
        </div>
        
         <div class="browse_row">
    <% if logged_in?&&(current_user==product.publisher) %>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </div>
    </div>
    <div class="browse_product_desc"><%= product.description %>  </div>
   
	</div>
 
