<div id='product-<%= product.id %>' class="product">

    <%= link_to( image_tag(product.photo.url(:thumb), :size => "100x100", :border => 0), product ) %>
    <br/>

    <div id='product-detail'>
	<span id='product-name'><%= link_to product.name, product %></span>
	<%= _("Publisher:") %> <%= link_to product.publisher.username, product.publisher %>
    </div>

    <% if [:myapps, :approval].include?(@view_type) || (logged_in? && current_user.is_admin?) %>
      <span class="product_admin"> Status <%= approval_status product %>
        <% if product.is_approved? %>
          <%= button_to(_("Block"), { :action => :block, :id => product.id },
                        :method => :put,
                        :confirm => _('Are you sure you want to block this product?')
                       ) if can? :block, product %>
        <% else %>
          <%= button_to(_("Request approval"), { :action => :request_approval, :id => product.id },
                        :method => :put,
                       ) if product.approval_state != 'pending' && can?(:request_approval, product) %>
          <%= button_to(_("Approve"), { :action => :approve, :id => product.id },
                        :method => :put,
                        :confirm => _('Are you sure you want to approve this product? (Remember to delete any development comments from the application profile)')
                       ) if can? :approve, product %>
        <% end %>
      </span>
    <% end %>

  <div class='product-description'>
	<span id='product-name'><%= link_to product.name, product %></span>
	<%= product.description.slice(0,120) %>
  </div>

	<script type='text/javascript'>
		jQuery('#product-<%= product.id %>').hover( function() {
			jQuery(this).toggleClass('product-mouseover');
			jQuery(this).find('.product-description').toggle();
			jQuery(this).find('#product-detail').toggle();
		} );
	</script>

</div>
