- reset_cycle 'browse_products'
.product_list
  - products.each do |product|
    .browse_product{:class => cycle("browse_product_left", "browse_product_right", :name=>'browse_products')}
      .browse_product_picture
        = link_to product_photo(product, (mobile_device? ? :mobile_thumb : :thumb)), product

      .browse_product_info
        .browse_row= link_to product.name, product
        .browse_row
          = _("Publisher:")
          = user_link product.publisher
        .browse_row
          = _("Popularity: ")
          = product.popularity
        .browse_row
          = _("Rating") + ':'
          = render :partial =>'ratings/rating',
                   :object => product.avg_rating,
                   :locals => { :empty_message => '' }

        - if [:myapps, :approval].include?(@view_type) || (logged_in? && current_user.is_admin?)
          .browse_row
            = _("State:")
            = approval_status product

      .browse_product_desc.markdown-content
        = product.description_html
