<div class="<%= cycle("browse_product_left_silver", "browse_product_right_silver", "browse_product_left_white", "browse_product_right_white", :name=>'browse_products') -%>">
    <div class="browse_product_picture">
      <%= link_to( image_tag("http://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Soccer_ball.svg/600px-Soccer_ball.svg.png", :size => "75x75", :border => 0), product ) %>
    </div>
    <div class="browse_product_info">
        <div class="browse_row"><%= link_to product.name, product %></div>
        <div class="browse_row"><%= _("Publisher:") %> <%= link_to product.publisher.username, product.publisher %></div>
        <div class="browse_row"><%= _("Popularity:") %><%= product.popularity %></div>
        <div class="browse_row"><%= _("Rating") %>:
          <%= render :partial =>'ratings/rating',
                     :object => product.avg_rating,
                     :locals => { :empty_message => '' } %>
        </div>
        <div class="browse_row">  
				 <% if params[:myapps] %> 
         <%= link_to "Edit", edit_product_path(product) %>
         <%= button_to 'Delete', product, :confirm => _('Are you sure?'), :method => :delete %>
         <%end%>
       </div>
        
        
    </div>
    <div class="browse_product_desc"><%= product.description %>  </div>
   
	</div>
 
