<div class="<%= cycle("browse_product_left", "browse_product_right", :name=>'browse_products') -%>">
  <div class="browse_product_picture">
    <%=
      link_to(
        if mobile_device?
          # TODO: create a thumbnail style for the actual image
          image_tag(product.photo.url(:thumb), :size => "40x40", :border => 0)
        else
          image_tag(product.photo.url(:thumb), :size => "75x75", :border => 0)
        end,
        product )
    %>
  </div>
  <div class="browse_product_info">
    <div class="browse_row"><%= link_to product.name, product %></div>
    <div class="browse_row"><%= _("Publisher:") %> <%= user_link product.publisher %></div>
    <div class="browse_row"><%= _("Popularity: ") %><%= product.popularity %></div>
    <div class="browse_row"><%= _("Rating") %>:
      <%= render :partial =>'ratings/rating',
                 :object => product.avg_rating,
                 :locals => { :empty_message => '' } %>
    </div>

    <% if [:myapps, :approval].include?(@view_type) || (logged_in? && current_user.is_admin?) %>
      <div class="browse_row"><%= _("State:") %> <%= approval_status product %></div>
    <% end %>
  </div>
  <div class="browse_product_desc markdown-content"><%= product.description_html %> </div>

</div>
