<div class="product_new">
<h1><%= _("Editing product") %></h1>

<%= render 'form' %>

<% @product.platforms.each do |platform| %>
<table>
  <tr>
    <td align="right"><%= platform.name %></td>
  </tr>
<% end %>
<%= form_tag :controller => "platforms", :action => "add_product", :id => @product.id do %>
<tr>
  <td align="right">
    <%= label_tag :platform, _('Add a platform') + ' *:' %>
  </td>
  <td>
    <%= collection_select :product, :platform_ids, Platform.all, :id, :name, {:multiple => true}, :class => 'otherfield' %>
  </td>
</tr>
<tr>
  <td align="right">
  </td>
  <td>
    <%= submit_tag _("Add"), :class => 'smallbutton' %>
  </td>
</tr>
</table>
<% end %><br>

<%= button_to _('Show'), @product, :class => 'smallbutton', :method => :get %><br>
<%= button_to _('Back'), products_path, :class => 'smallbutton', :method => :get %>
</div>
