<h1><%= _("Editing product") %></h1>

<%= render 'form' %>

<% @product.platforms.each do |platform| %>
  <tr>
    <td><%= platform.name %></td>
  </tr>
<% end %>
<%= form_tag :controller => "platforms", :action => "add_product", :id => @product.id do %>
<tr>
  <td>
    <%= label_tag :platform, _('Add a platform') + ' *:' %>
  </td>
  <td>
    <%= collection_select :product, :platform_ids, Platform.all, :id, :name, {:multiple => true} %>
  </td>
</tr>
<tr>
  <td align="right">
  </td>
  <td>
    <%= submit_tag _("Add") %>
  </td>
</tr>
<% end %>

<%= link_to _('Show'), @product %> |
<%= link_to _('Back'), products_path %>
