<h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Url</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.url %></td>
    <td>
      <%= render :partial =>'ratings/rating',
                 :object => product.average_rating,
                 :locals => { :empty_message => '' } %>
    </td>
<% if logged_in? %>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
	</tr>
<% end %>
</table>

<br />

<%= if logged_in? then link_to('New Product', new_product_path) end %>
