<!--Prepare for datas-->
<!--can put this array to configfile/module-->
<% @platforms=["web apps","mobile web apps","all platforms"] %>


<!--Prepare for datas-->
<h2>
 <% @platforms.each do |platform|%>
 <%= link_to platform, products_by_platform_path(platform, params[:sort]) %> &nbsp;&nbsp;
 <%end%>
</h2>
<div align="center" id="#">
<h3 >
  <h4><%= _("Select sort criteria") %></h4>
  <%= link_to _('Publication date'), products_by_platform_path(params[:platform],'created_at') %>&nbsp;&nbsp;|
  <%= link_to _('Most popular'), products_by_platform_path([:platform],'popularity') %>&nbsp;&nbsp;|
  <%= link_to _('Most rated'), products_by_platform_path(params[:platform],'rating') %>&nbsp;&nbsp;|
  <%= link_to _('Featured apps'), products_by_platform_path(params[:platform],'featured') %>&nbsp;&nbsp;
</h3>
</div>
  <% if !@err_msg.blank? %>
<br/><br/>
<div class="browse_search_err_msg" align="center">
  <h1><%= @err_msg %></h1>
</div>
  <% end %>
 <% if !@products.blank? %>
<div class="browse_products">
    <h1><%= _("Listing All Products") %></h1>
  <%=render :partial=>'product',:collection=>@products%>
</div>
<div class="browse_paginate">
   <%= will_paginate @products %>
</div>
<%end%>
