<!--Prepare for datas-->
<!--can put this array to configfile/module-->
<%@platforms=["web apps","mobile web apps","all platforms"]%>


<!--Prepare for datas-->
<h2>
 <% @platforms.each do |platform|%>
 <%=link_to platform, apps_by_platform_path(platform) %> &nbsp;&nbsp;
 <%end%>
</h2>
<div align="center" id="#">
<h3 >
  <h4 >Select sort criteria</h4>
  <%=link_to 'Publication date',apps_by_critea_path(params[:platform],'created_at')%>&nbsp;&nbsp;|
  <%=link_to 'Most popular',apps_by_critea_path(params[:platform],'popularity')%>&nbsp;&nbsp;|
  <%=link_to 'Most rated',apps_by_critea_path(params[:platform],'rating')%>&nbsp;&nbsp;|
  <%=link_to 'Featured apps',apps_by_critea_path(params[:platform],'featured')%>&nbsp;&nbsp;
</h3>
</div>
  <%if !@err_msg.blank?%>
<br/><br/>
<div class="browse_search_err_msg" align="center">
  <h1><%=@err_msg%></h1>
</div>
  <%end%>
 <%if !@products.blank?%>
<div class="browse_products">

<%@products=@products.paginate(:page => params[:page]||1,  :per_page => 6)%>
    <h1>Listing All Products</h1>
  <%=render :partial=>'product',:collection=>@products%>
</div>
<div class="browse_paginate">
   <%= will_paginate @products %>
</div>
<%end%>

<%if !@my_published_products.blank? %>
<%@my_published_products=@my_published_products.paginate(:page => params[:page]||1, :per_page => 6)%>

<h1>Listing My Published Products</h1>
<div class="browse_products">
 <% reset_cycle 'browse_products'%>
  <%=render :partial=>'product',:collection=>@my_published_products%>

</div>

  <div>
   <%= will_paginate @my_published_products %>
</div>
<%end%>
  


<%#= if logged_in? then link_to('New Product', new_product_path) end %>
