<% if @show_welcome_info %>
  <div id="welcome_msg" align="center">
    <%= render :partial => '/welcome_message' %>
  </div>
<%end%>

<% unless @err_msg.blank? %>
  <br/><br/>
  <div class="browse_search_err_msg" align="center">
    <h1><%= @err_msg %></h1>
  </div>
<%end%>

<% if @show_tag_cloud %>
  <div id="browse_tags">
    <h1><%= _('Tags') %></h1>
    <%= render 'tag_cloud' %>
  </div>
<% end %>

<% if @featured_products && !@featured_products.empty? %>
  <div id="browse_featured_products">
    <h1><%=
      if @platform.present?
        _("Listing featured %{platform} applications") % {:platform => @platform.name}
      else
        _("Listing featured applications")
      end
    %></h1>
    <%= render :partial=>'product', :collection => @featured_products %>
  </div>
<% end %>

<%
  title = case @view_type
    when :myapps
      _("Listing my applications")
    when :approval
      _("Listing applications with status: %{status}") % {:status => approval_status(@approval_state)}
    when :index then case
      when @search
        _("Search results")
      when @platform.present? && @tags.present?
        n_("Listing %{platform} applictions with the tag %{tags}",
           "Listing %{platform} applictions with tags %{tags}",
           @tags.count
          ) % {:tags => @tags.to_sentence(:two_words_connector => _(' or '), :last_word_connector => _(', or '))}
      when @tags.present?
        n_("Listing applictions with the tag %{tags}",
           "Listing applictions with tags %{tags}",
           @tags.count
          ) % {:tags => @tags.to_sentence(:two_words_connector => _(' or '), :last_word_connector => _(', or '))}
      when @platform.present?
        _("Listing %{platform} applications") % {:platform => @platform.name}
      else
        _("Listing all applications")
      end
  end
%>

<% if @products.blank? %>
  <div class="browse_products">
    <h1><%= title %></h1>
    <div class="no_products_msg"><%= _("No applications available.") %></div>
  </div>
<% else %>
  <div class="browse_products">
    <h1><%= title %></h1>

    <%=
      # sort headers
      raw [
        ['created_at', _('Publication date')],
        ['popularity', _('Popularity')],
        ['avg_rating', _('User rating')],
      ].map { |key, title|
        if key == @sort
          '<span class="selected-sort-key">' + html_escape(title) + '</span>'
        else
          link_to title, products_path_with_params(:sort => key)
        end
      }.join('&nbsp;&nbsp;|&nbsp;&nbsp;')
    %>
    <br /><br />

    <%= render :partial=>'product', :collection => @products %>
  </div>

  <div class="browse_paginate">
    <%= will_paginate @products,
                      :previous_label => _('&#8592; Previous'),
                      :next_label     => _('Next &#8594;') %>
  </div>
<% end %>
