<% if @show_welcome_info %>
  <div id="welcome_msg" align="center">
    <%= render :partial => '/welcome_message' %>
  </div>
<%end%>

<% unless @err_msg.blank? %>
  <br/><br/>
  <div class="browse_search_err_msg" align="center">
    <h1><%= @err_msg %></h1>
  </div>
<%end%>

<% if @featured_products && !@featured_products.empty? %>
  <div id="browse_featured_products">
    <h1><%=
      if @platform.present?
        _("Listing featured %{platform} applications") % {:platform => @platform.name}
      else
        _("Listing featured applications")
      end
    %></h1>
    <%= render :partial=>'product', :collection => @featured_products %>
  </div>
<% end %>

<%
  title = case @view_type
    when :myapps
      _("Listing my applications")
    when :approval
      _("Listing applications with status: %{status}") % {:status => approval_status(@approval_state)}
    when :index
      if @platform.present?
        _("Listing %{platform} applications") % {:platform => @platform.name}
      else
        _("Listing all applications")
      end
  end
%>

<% if @products.blank? %>
  <div class="browse_products">
    <h1><%= title %></h1>
    <div class="no_products_msg"><%= _("No applications available.") %></div>
  </div>
<% else %>
  <div class="browse_products">
    <h1><%= title %></h1>

    <%=
      link_to(_('Publication date'), products_path_with_params(:sort => 'created_at')) + raw('&nbsp;&nbsp;|&nbsp;&nbsp;') +
      link_to(_('Popularity'),       products_path_with_params(:sort => 'popularity')) + raw('&nbsp;&nbsp;|&nbsp;&nbsp;') +
      link_to(_('User rating'),      products_path_with_params(:sort => 'avg_rating'))
    %>
    <br /><br />

    <%= render :partial=>'product', :collection => @products %>
  </div>

  <div class="browse_paginate">
    <%= will_paginate @products,
                      :previous_label => _('&#8592; Previous'),
                      :next_label     => _('Next &#8594;') %>
  </div>
<% end %>
