<% if !@err_msg.blank? %>
<br/><br/>
<div class="browse_search_err_msg" align="center">
  <h1><%= @err_msg %></h1>
</div>
  <% end %>
<% if params[:myapps] %>
	<% if !@products.blank? %>
   <div class="browse_products">
    <h1><%= _("Listing My Products") %></h1>
    <%unless @my_app_show%>
<h3 >
  <h2><%= _("Select sort criteria") %></h2>
  <%= link_to _('Publication date'), products_by_platform_path(params[:platform],'created_at') %>&nbsp;&nbsp;|
  <%= link_to _('Popularity'), products_by_platform_path(params[:platform],'popularity') %>&nbsp;&nbsp;|
  <%= link_to _('User rating'), products_by_platform_path(params[:platform],'avg_rating') %>
</h3><br><br>
<%end%>
  	<%=render :partial=>'product',:collection=>@products%>
		</div>
		<div class="browse_paginate">
   	<%= will_paginate @products %>
		</div>
	<%end%>

<%else%>
 <% if !@products.blank? %>
<div class="browse_products">
    <h1><%= _("Listing Products") %></h1>
  <%unless @my_app_show%>
<h3 >
  <h2><%= _("Select sort criteria") %></h2>
  <%= link_to _('Publication date'), products_by_platform_path(params[:platform],'created_at') %>&nbsp;&nbsp;|
  <%= link_to _('Popularity'), products_by_platform_path(params[:platform],'popularity') %>&nbsp;&nbsp;|
  <%= link_to _('User rating'), products_by_platform_path(params[:platform],'avg_rating') %>
<%unless params[:platform_id]%>
&nbsp;&nbsp;|
  <%= link_to _('Featured apps'), products_by_platform_path(params[:platform],'featured') %>&nbsp;&nbsp;
<%end%>
</h3><br><br>
<%end%>
  <%=render :partial=>'product',:collection=>@products%>
</div>
<div class="browse_paginate">
   <%= will_paginate @products %>
</div>
<%end%>
<%end%>
