<h1 id="product-title"><%= @product.name %> - <%= _("Detailed view") %></h1>

<div id="product-info">
  <div id="product-image">
    <div id="product-image-border">
      <%# TODO: picture here %>
      picture
    </div>
  </div>

  <div id="product-details">
    <dl id="product-publisher">
      <dt><%= _("Publisher") %>:</dt>
      <dd><%= @product.publisher.username if @product.publisher %></dd>
    </dl>

    <dl id="product-category">
      <dt><%= _("Category") %>:</dt>
      <dd><%= @product.category.name %></dd>
    </dl>

    <dl id="product-platform">
      <dt><%= _("Platform") %>:</dt>
      <dd><%= @product.platform.name %></dd>
    </dl>

    <dl id="product-published">
      <dt><%= _("Published") %>:</dt>
      <dd><%= l @product.updated_at.to_date, :format => :long %></dd>
    </dl>

    <dl id="product-popularity">
      <dt><%= _("Number of views") %>:</dt>
      <dd><%= @product.popularity %></dd>
    </dl>

    <dl id="product-rating">
      <dt><%= _("Rating") %>:</dt>
      <dd>
        <%= render :partial => 'ratings/rating', :object => @product.avg_rating %>
        
        <% if logged_in? %>
          <div id="product-rating-form">
            <%= _("Your rating:") %>
            <%= render 'ratings/form' %>
          </div>
        <% end %>
      </dd>
    </dl>

    <dl id="product-url">
      <dt><%= _("URL") %>:</dt>
      <dd><%= link_to @product.url, @product.url %></dd>
    </dl>

    <dl id="product-description">
      <dt><%= _("Description") %>:</dt>
      <dd><%= @product.description %></dd>
    </dl>
  </div>
</div>

<p>
  <b><%= _("Comments") %>:</b>
  <%= render :partial => "comment/list", :collection => @product.comments, :as => :comment %>
 
  <p>
    <% if logged_in? %>
      <%= render :partial => "comment/form", :object => @product %>
    <% else %>
      <b><%= _("Please login to add comments") %></b>
    <% end %>
  <p>

</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
