<h1 id="product-title"><%= @product.name %> - <%= _("Detailed view") %></h1>

<div id="product-info">
  <div id="product-image">
    <div id="product-image-border">
      <div id="image">
        <%= image_tag @product.photo.url(:small) %>
      </div>
    </div>
  </div>

  <div id="product-details">
    <dl id="product-publisher">
      <dt><%= _("Publisher") %>:</dt>
      <dd><%= link_to @product.publisher.username, @product.publisher %></dd>
    </dl>

    <dl id="product-platform">
    <dt><%= n_("Platform", "Platforms", @product.platforms.length) %>:</dt>
    <% @product.platforms.each do |platform| %>
      <dd><%= platform.name %>&nbsp;</dd>
    <% end %>
    </dl>

    <dl id="product-published">
      <dt><%= _("Published") %>:</dt>
      <dd><%= l @product.updated_at.to_date, :format => :long %></dd>
    </dl>

    <dl id="product-popularity">
      <dt><%= _("Number of views") %>:</dt>
      <dd><%= @product.popularity %></dd>
    </dl>

    <dl id="product-rating">
      <dt><%= _("Rating") %>:</dt>
      <dd>
        <%= render :partial => 'ratings/rating', :object => @product.avg_rating %>
        
        <% if logged_in? && @product.publisher != current_user %>
          <div id="product-rating-form">
            <%= _("Your rating:") %>
            <%= render 'ratings/form' %>
          </div>
        <% end %>
      </dd>
    </dl>

    <dl id="product-url">
      <dt><%= _("URL") %>:</dt>
      <dd><%= link_to @product.url, "http://"+@product.url, :target => '_blank' %></dd>
    </dl>

    <% if @product.downloads.present? && can?(:index, Download) %>
      <dl id="product-downloads">
        <dt><%= _("Downloads") %>:</dt>
        <dd><%= render :partial => "downloads/list",
                       :collection => @product.downloads, :as => :download,
                       :locals => { :delete => true, :form => nil } %></dd>
      </dl>
    <% end %>

    <dl id="product-description">
      <dt><%= _("Description") %>:</dt>
      <dd><%= word_wrap(@product.description) %></dd>
    </dl>

    <% if @product.featured %>
      <dl id="product-featured">
        <dt><%= _("Featured") %>:</dt>
        <dd>✓</dd>
      </dl>
    <% end %>

    <%
      abilities = Set.new(
        [:edit, :delete, :promote, :demote, :block, :approve, :request_approval].
          find_all { |action| can? action, @product } )
      unless abilities.empty?
    %>
      <dl id="product-admin">
        <dt><%= _("Admin") %>:</dt>
        <% if abilities.include? :edit %>
          <dd><%= button_to _('Edit'), edit_product_path(@product), :method => :get,
                                       :class => "smallbutton" %></dd>
        <% end %>
        <% if abilities.include? :delete %>
          <dd><%= button_to _('Delete'), @product, :method => :delete,
                                         :confirm => _('Are you sure?'),
                                         :class=>"smallbutton" %></dd>
        <% end %>
        <% case @product.approval_state %>
          <% when 'pending' %>
            <% if abilities.include? :approve %>
              <dd><%= button_to _("Approve"), approve_product_path(@product), :method => :put,
                                :class=>"smallbutton",
                                :confirm => _('Are you sure you want to approve this product? (Remember to delete any development comments from the application profile)')
                  %></dd>
            <% end %>
          <% when 'submitted', 'blocked' %>
            <% if abilities.include? :request_approval %>
              <dd><%= button_to _("Request approval"), request_approval_product_path(@product), :method => :put,
                                :class => 'smallbutton'
                  %></dd>
            <% end %>
          <% when 'published' %>
            <% if abilities.include? :block %>
              <dd><%= button_to _("Block"), block_product_path(@product), :method => :put,
                                :class => 'smallbutton',
                                :confirm => _('Are you sure you want to block this product?')
                  %></dd>
            <% end %>
        <% end; debugger %>
        <% if abilities.include?(:promote) && !@product.featured %>
          <dd><%= button_to _("Make featured"), promote_product_path(@product), :method => :put,
                                                :class => 'smallbutton' %></dd>
        <% end %>
        <% if abilities.include?(:demote) && @product.featured %>
          <dd><%= button_to _("Remove from featured"), demote_product_path(@product), :method => :put,
                                                       :class => 'smallbutton' %></dd>
        <% end %>
      </dl>
    <% end %>
    <br />
    <%= button_to _('Report issue'), 'http://www.sizzlelab.org/contact', :method => :get, :class => 'smallbutton' %>
  </div>
</div>

<div class="product_comment">
  <% if can? :show, Comment %>
    <h2><%= _("Comments") %>:</h2>
    <div id="product-comment-list">
      <%= render :partial => "comment/list", :collection => @comments, :as => :comment %>
    </div>
  <% end %>
 
  <p>
    <% if can? :new, Comment %>
      <%= render :partial => "comment/form" %>
    <% else %>
      <b><%= _("Please login to add comments") %></b>
    <% end %>
  </p>

<%= button_to _('Back'), :back, :class => 'smallbutton', :method => :get %>
</div>
