<h1 id="product-title"><%= @product.name %> - <%= _("Detailed view") %></h1>

<div id="product-info">
  <div id="product-image">
    <div id="product-image-border">
			<div id="image" style="border:groove;width:150px;height:150px;">
				<%= image_tag @product.photo.url(:small) %>
  		</div>
    </div>
  </div>

  <div id="product-details">
    <dl id="product-publisher">
      <dt><%= _("Publisher") %>:</dt>
      <dd><%= @product.publisher.username if @product.publisher %></dd>
    </dl>

    <dl id="product-category">
      <dt><%= _("Category") %>:</dt>
      <dd><%= @product.category.name %></dd>
    </dl>

    <dl id="product-platform">
    <dt><%= _("Platforms") %>:</dt>
    <% @product.platforms.each do |platform| %>
      <dd><%= platform.name %>&nbsp;</dd>
    <% end %>
    </dl>

    <dl id="product-published">
      <dt><%= _("Published") %>:</dt>
      <dd><%= l @product.updated_at.to_date, :format => :long %></dd>
    </dl>

    <dl id="product-popularity">
      <dt><%= _("Number of views") %>:</dt>
      <dd><%= @product.popularity %></dd>
    </dl>

    <dl id="product-rating">
      <dt><%= _("Rating") %>:</dt>
      <dd>
        <%= render :partial => 'ratings/rating', :object => @product.avg_rating %>
        
        <% if logged_in? && @product.publisher != current_user %>
          <div id="product-rating-form">
            <%= _("Your rating:") %>
            <%= render 'ratings/form' %>
          </div>
        <% end %>
      </dd>
    </dl>

    <dl id="product-url">
      <dt><%= _("URL") %>:</dt>
      <dd><%= link_to @product.url, "http://"+@product.url, :target => '_blank' %></dd>
    </dl>

    <dl id="product-description">
      <dt><%= _("Description") %>:</dt>
      <dd><%= @product.description %></dd>
    </dl>

		<%if @product.publisher==current_user%>
		<dl id="product-admin">
			<dt><%= _("Admin") %>:</dt>
			<dd><%= link_to 'Edit', edit_product_path(@product) %></dd>
			<dd><%= button_to 'Delete', @product, :confirm => _('Are you sure?'), :method => :delete %></dd>
		</dl>
		<%end%>
		
  </div>
</div>

<div class="product_comment">
  <h2><%= _("Comments") %>:</h2>
  <div id="product-comment-list">
    <%= render :partial => "comment/list", :collection => @product.comments, :as => :comment %>
  </div>
 
  <p>
    <% if logged_in? %>
      <%= render :partial => "comment/form" %>
    <% else %>
      <b><%= _("Please login to add comments") %></b>
    <% end %>
  </p>



<%= link_to 'Back', products_path %>
</div>
