<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1 id="product-title"><%= @product.name %> - Detailed view</h1>

<div id="product-info">
  <div id="product-image">
    <div id="product-image-border">
      <%# TODO: picture here %>
      picture
    </div>
  </div>

  <div id="product-details">
    <dl id="product-publisher">
      <dt>Publisher:</dt>
      <dd><%= @product.publisher.username %></dd>
    </dl>

    <dl id="product-published">
      <dt>Published:</dt>
      <dd><%= l @product.updated_at.to_date, :format => :long %></dd>
    </dl>

    <dl id="product-rating">
      <dt>Rating:</dt>
      <dd>
        <%= render :partial => 'ratings/rating', :object => @product %>
        
        <% if logged_in? %>
          <div id="product-rating-form">
            Your rating:
            <%= render :partial => 'ratings/form', :object => @product %>
          </div>
        <% end %>
      </dd>
    </dl>

    <dl id="product-url">
      <dt>Url:</dt>
      <dd><%= link_to @product.url, @product.url %></dd>
    </dl>

    <dl id="product-description">
      <dt>Description:</dt>
      <dd><%= @product.description %></dd>
    </dl>
  </div>
</div>

<p>
  <b>Comments:</b>
  <%= render :partial => "comment/list", :collection => @product.comments, :as => :comment %>
 
  <p>
    <% if logged_in? %>
      <%= render :partial => "comment/form", :object => @product %>
    <% else %>
      <b>Please login to add comments</b>
    <% end %>
  <p>

</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
