<!DOCTYPE html>
<html>
<head>
  <title><%= _("Aalto Apps") %></title>

  <script type="text/javascript">
    <%# pass translated strings to javascript
        (passing plural forms won't work with this simple method) %>
    var translations = {
      edit:    '<%= escape_javascript raw _('Edit') %>',
      cancel:  '<%= escape_javascript raw _('Cancel') %>',
      loading: '<%= escape_javascript raw _('loading...') %>',
      close:   '<%= escape_javascript raw _('Close') %>',
      accept:  '<%= escape_javascript raw _('Accept') %>',
      decline: '<%= escape_javascript raw _('Decline') %>'
    };
  </script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
  <%# TODO: replace with local customized css: %>
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css" />

  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'generated/product_edit' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>
<body lang="<%= I18n.locale %>">
  <div class="layout_whole">
    <div class="wrapper_top">
      <div class="layout_info">
        <div class="layout_menuitem">
          <%= _("Choose language:") %>
          <%= render :partial => '/layouts/locale_selector' %>
        </div>
        <div class="layout_menuitem">
          <%= render :partial => '/layouts/mobile_version_selector' %>
        </div>
        <div class="layout_menuitem">
          <%= render :partial => "/users/login_menu" %>
        </div>
        <div class="layout_menuitem">
          <%=render :partial=>"/products/search"%>
        </div>
      </div>
      <div class="layout_logo">
        <%= link_to "aalto apps", root_path %>
      </div>
    </div>

    <div class="layout_frame">
      <div class="layout_master">
        <div id="notice"><%= notice %></div>
        <div id="alert"><%= alert %></div>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>

      <div class="footer_text">
        <a target="_blank" href="http://www.sizzlelab.org">Sizzlelab.org</a> |
        <a target="_blank" href="http://otasizzle.wordpress.com">OtaSizzle blog</a> |
        <a target="_blank" href="http://www.sizzlelab.org/content/legal-information">Legal Information</a> |
        <a target="_blank" href="http://www.sizzlelab.org/content/frequently-asked-questions-faq">FAQ</a> |
        <a target="_blank" href="http://www.sizzlelab.org/content/howto">HOWTOs</a> |
        <a target="_blank" href="http://www.sizzlelab.org/contact">Feedback</a>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <%= render :partial => '/layouts/menu' %>
</body>
</html>
