<!DOCTYPE html>
<html>
<head>
  <title><%= _("Aalto Apps") %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
  <%# TODO: replace with local customized css: %>
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css" />
  <script type="text/javascript">
    jQuery.noConflict();  // prevent conflicts with Prototype
    (function ($) {

      function submenuOpen(j) {
        j .parent('.menutop') .removeClass('menutop-closed') .addClass('menutop-open');
        j .removeClass('menutop-closed') .addClass('menutop-open') .parents('li') .children('ul') .slideDown(250);
      }

      function submenuClose(j) {
        j .removeClass('menutop-open') .addClass('menutop-closed')  .parents    ('li') .children('ul') .slideUp(250);
        j .parent('.menutop') .removeClass('menutop-open') .addClass('menutop-closed');
      }

      $(document).ready(function() {
        // update open/closed status of menus from cookie
        $.each(document.cookie.split(';'), function (i, cookie) {
          var match = $.trim(cookie).match(/^openMenus=([a-zA-Z0-9_,-]+)$/);
          if (match) {
            $.each(match[1].split(','), function (i, id) {
              $('#menu #' + id + ' .menutop') .addClass('menutop-open');
            });
          }
        });

        $('.menutop:not(.menutop-open)') .addClass('menutop-closed') .parents('li') .children('ul') .hide();

        $('#menu .menutop') .click(function() {

          if ($(this) .hasClass('menutop-open')) {
            submenuClose($(this));
          }else{
            submenuClose($('#menu .menutop-open'));
            submenuOpen($(this));
          }

          // set cookie to a list of ids of open menus
          document.cookie =
            'openMenus=' +
            $('#menu .menutop-open').parent().map(function() { return this.id; }).get().join(',') +
            '; path=/';

          return false;
        });

        // replace each comment edit form with comment text and a button that
        // opens the form
        $('#product-comment-list .commentfield').parents('.product-comment-line').each(function () {
          var form = $(this);
          var text = $('<span class="commenttext"/>').text(form.find('.commentfield').val()).append('<br/>')
            .insertBefore(form);
          form.hide();
          var editbutton = $('<button class="smallbutton">').text('<%= escape_javascript raw _('Edit') %>')
            .prependTo( form.parent().find('.product-comment-buttons') );
          editbutton.click(function () {
              editbutton.attr("disabled", true);
              text.hide();
              form.show();
            });
          $('<button class="smallbutton">').text('<%= escape_javascript raw _('Cancel') %>')
            .appendTo(form)
            .click(function () {
              editbutton.attr("disabled", false);
              text.show();
              form.hide();
              return false; // don't submit form
            });
        });

        // replace ordinary links with ajax popups
        // using jQuery UI's dialog widget
        $('.ajax-popup').each(function () {
          var $this = $(this);
          var url = this.href;

          var checkbox = false;
          var label = $this.parents('label')
          if (label.length != 0) {
            var label_for = label.attr('for');
            if (label_for) {
              checkbox = $('#' + label_for);
            }
            else {
              checkbox = label.find('input:checkbox');
            }
          }

          var dialog =
            $('<div style="display:hidden"><%= escape_javascript raw _('loading...') %></div>')
            .attr('title', $this.text())
            .appendTo('body')
            .dialog({
              autoOpen: false,
              modal: true,
              width: '70%',
              height: 0.9 * $(window).height(),
              closeText: '<%= escape_javascript raw _('Close') %>',
              buttons:
                // If there is a checkbox associated with the element,
                // add accept and decline buttons that check and uncheck it.
                // Otherwise add a close button.
                checkbox ? [
                  { text: '<%= escape_javascript raw _('Accept') %>',
                    click: function () { checkbox.val(['1']); $(this).dialog('close'); } },
                  { text: '<%= escape_javascript raw _('Decline') %>',
                    click: function () { checkbox.val([]);    $(this).dialog('close'); } }
                ] : [
                  { text: '<%= escape_javascript raw _('Close') %>',
                    click: function () { $(this).dialog('close'); } }
                ]});

          $(this).click(function () {
            if (! dialog.hasClass('ajax-popup-loaded')) {
              dialog
                .load(url, function () {
                    // if there is a header in the returned content,
                    // move it to dialog title bar
                    var h1 = dialog.find('h1');
                    if (h1.length != 0) {
                      dialog.dialog('option', 'title', h1.text());
                    }
                    h1.remove();
                  })
                .addClass('ajax-popup-loaded');
            }

            dialog.dialog('open');

            // prevent the browser from following the link
            return false;
          });
        });
      });

    })(jQuery);
  </script>


</head>
<body lang="<%= I18n.locale %>">
  <div id='main_wrapper'>
  <div class="layout_whole">
    <div class="wrapper_top">
    	<div class="layout_info">
				<div class="layout_menuitem">
          <%= _("Choose language:") %>
          <span class="locale_selector">
            <%=
              @available_locales.map { |l|
                if l[:current?]
                  content_tag(:span, l[:name], :class => 'current_locale')
                else
                  link_to l[:name], params.merge(:locale => l[:id])
                end
              }.join(', ').html_safe
            %>
          </span>
        </div>
				<div class="layout_menuitem">
          <%= render :partial => "/users/login_menu" %>
        </div>
				<div class="layout_menuitem">
					<%=render :partial=>"/products/search"%>
				</div>
			</div>
		  <div class="layout_logo">
		    <%= link_to "aalto apps", root_path %>
		  </div>
			
		</div>

	<div class="clear"></div>
    

           <div class="layout_frame">
            <div class="layout_master">
              <div id="notice"><%= notice %></div>
              <div id="alert"><%= alert %></div>
              <%= yield %>
            </div>


              <div class="footer_text">
              	<a target="_blank" href="http://www.sizzlelab.org">Sizzlelab.org</a> | 
								<a target="_blank" href="http://otasizzle.wordpress.com">OtaSizzle blog</a> | 
								<a target="_blank" href="http://www.sizzlelab.org/content/legal-information">Legal Information</a> | 
								<a target="_blank" href="http://www.sizzlelab.org/content/frequently-asked-questions-faq">FAQ</a> | 
								<a target="_blank" href="http://www.sizzlelab.org/content/howto">HOWTOs</a> | 
								<a target="_blank" href="http://www.sizzlelab.org/contact">Feedback</a> 
              </div>
              <div class="clear"></div>
            </div>
          </div>
  
           
							
						


          <div id="menu">
  		      <div class="navmenu">
    		      <li><div class="menusingle"><%= link_to _("home"), root_path %></div></li>
				      <li id="menu-browse"><div class="menutop"><%= link_to _("browse") %> </div>
          		  <ul>
                  <div class="submenu">
  							    <li class="submenu_row"><%=link_to _("All"), products_path %> </li>
						        <% Platform.all.each do |platform|%>
											<li class="submenu_row"><%=link_to platform.name, platforms_path+"/%{p_id}/products/" % {:p_id => platform.id} %> </li>
		     				    <%end%>
          		    </div>
                </ul>
                                      </li>
					    <% if logged_in? %>
          		<li id="menu-publish">
                <div class="menutop"><%= link_to _("publish") %></div>
							    <ul>
                    <div class="submenu">
							        <li class="submenu_row"><%=link_to _("My Apps"), products_path(:myapps=>true) %> </li>		
            			    <li class="submenu_row"><%=link_to _("New App"), new_product_path %> </li>
							      </div>
                  </ul>
					    </li>
        				<% end %>
    		
 			      </ul>

                        <% if (can_approve, can_i_users, can_i_platforms =
                                 can?(:approve, Product), can?(:index, User), can?(:index, Platform)
                              ).any? %>
                          <li id="menu-admin">
                            <div class="menutop"><%= link_to _("admin") %></div>
                            <ul>
                              <div class="submenu">
                                <% if can_approve %>
                                  <li class="submenu_row"><%= link_to _('New products'),
                                                                      products_path(:approval => 'submitted')
                                                          %></li>
                                  <li class="submenu_row"><%= link_to _('Products pending approval'),
                                                                      products_path(:approval => 'pending')
                                                          %></li>
                                  <li class="submenu_row"><%= link_to _('Blocked products'),
                                                                      products_path(:approval => 'blocked')
                                                          %></li>
                                <% end %>
                                <% if can_i_users %>
                                  <li class="submenu_row"><%= link_to _('Users'), users_path %></li>
                                <% end %>
                                <% if can_i_platforms %>
                                  <li class="submenu_row"><%= link_to _('Platforms'), platforms_path %></li>
                                <% end %>
                              </div>
                            </ul>
                          </li>
                        <% end %>

 		      </div>

          
    
    	</div>


    </div>

</body>
</html>
