<!DOCTYPE html>
<html>
<head>
  <title><%= _("Aalto Apps") %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
  <script type="text/javascript">
    function submenuOpen(j) {
      j .parent('.menutop') .removeClass('menutop-closed') .addClass('menutop-open');
      j .removeClass('menutop-closed') .addClass('menutop-open') .parents('li') .children('ul') .slideDown(250);
    }

    function submenuClose(j) {
      j .removeClass('menutop-open') .addClass('menutop-closed')  .parents    ('li') .children('ul') .slideUp(250);
      j .parent('.menutop') .removeClass('menutop-open') .addClass('menutop-closed');
    }

    $(document).ready(function() {
      // update open/closed status of menus from cookie
      $.each(document.cookie.split(';'), function (i, cookie) {
        var match = $.trim(cookie).match(/^openMenus=([a-zA-Z0-9_,-]+)$/);
        if (match) {
          $.each(match[1].split(','), function (i, id) {
            $('#menu #' + id + ' .menutop') .addClass('menutop-open');
          });
        }
      });

      $('.menutop:not(.menutop-open)') .addClass('menutop-closed') .parents('li') .children('ul') .hide();

      $('#menu .menutop') .click(function() {

        if ($(this) .hasClass('menutop-open')) {
          submenuClose($(this));
        }else{
          submenuClose($('#menu .menutop-open'));
          submenuOpen($(this));
        }

        // set cookie to a list of ids of open menus
        document.cookie =
          'openMenus=' +
          $('#menu .menutop-open').parent().map(function() { return this.id; }).get().join(',') +
          '; path=/';

        return false;
      });

      // replace each comment edit form with comment text and a button that
      // opens the form
      $('#product-comment-list .commentfield').parents('form').each(function () {
        var form = $(this);
        var div = $('<div class="commenttext"/>').text(form.find('.commentfield').val())
          .insertBefore(form);
        form.hide();
        $('<button>').text('<%= _('Edit') %>')
          .appendTo( $('<div/>').appendTo(div) )
          .click(function () {
            div.slideUp(250);
            form.slideDown(250);
          });
        $('<button>').text('<%= _('Cancel') %>')
          .appendTo(form)
          .click(function () {
            div.slideDown(250);
            form.slideUp(250);
            return false; // don't submit form'
          });
      });
    });
  </script>


</head>
<body>
    <div class="wrapper_top">
    	<div class="layout_info">
				<div class="layout_menuitem">
          <%= _("Choose language:") %>
          <span class="locale_selector">
            <%=
              FastGettext.available_locales.map { |l|
                # get the native language name by reading a special
                # I18n-style translation
                name = I18n.translate 'i18n.language.name', :locale => l
                # no link for current locale
                if l.to_s == I18n.locale.to_s
                  content_tag(:span, name, :class => 'selected_locale')
                else
                  link_to name, :locale => l
                end
              }.join(', ').html_safe
            %>
          </span>
        </div>
				<div class="layout_menuitem">
          <%= render :partial => "/users/login_menu" %>
        </div>
				<div class="layout_menuitem">
					<%=render :partial=>"/products/search"%>
				</div>
			</div>
		  <div class="layout_logo">
		    <%= link_to "aalto apps", root_path %>
		  </div>
			
		</div>
			

		

    

          <div class="layout_frame">
            <div class="layout_master">
				      <div id="notice"><%= notice %></div>
            	<div id="alert"><%= alert %></div>
              <%= yield %>
            </div>
						
					<% if show_welcome_info%>
            <div class="layout_footer">
							<div class="footer_pictures">
								<div class="footer_pic">Register<br>harmaasävyset kuvat photarilla ja hoverilla värit kuviin, linkeiksi. ja sit jos sais tasaseks vielä nää tähän.</div>
								<div class="footer_pic">Login</div>
								<div class="footer_pic">Publish a new app</div>
								<div class="footer_pic">View users</div>
								<div class="footer_pic">Eat shit</div>
								<div class="clear"></div>
							</div>
					<%end%>
							<div class="footer_text">
              <%= _("Aalto Apps 2011") %>
							</div>
								<div class="clear"></div>
            </div>
          </div>


          <div id="menu">
  		      <div class="navmenu">
    		      <li><div class="menusingle"><%= link_to _("home"), root_path %></div></li>
				      <li id="menu-browse"><div class="menutop"><%= link_to _("browse") %> </div>
          		  <ul>
                  <div class="submenu">
  							    <li class="submenu_row"><%=link_to _("All"), products_path %> </li>
						        <% Platform.all.each do |platform|%>
										<li class="submenu_row"><%=link_to platform.name, "/platforms/%{p_id}/products/" % {:p_id => platform.id} %> </li>
		     				    <%end%>
          		    </div>
                </ul>
                                      </li>
					    <% if logged_in? %>
          		<li id="menu-publish">
                <div class="menutop"><%= link_to _("publish") %></div>
							    <ul>
                    <div class="submenu">
							        <li class="submenu_row"><%=link_to _("My Apps"), products_path(:myapps=>true) %> </li>		
            			    <li class="submenu_row"><%=link_to _("New App"), new_product_path %> </li>
							      </div>
                  </ul>
					    </li>
        				<% end %>
    		
 			      </ul>
 		      </div>

          
    
    	


</body>
</html>
