!!! XML
!!! Basic
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %title= _("Aalto Apps")

    -# viewport scaling settings for mobile browsers:
    -# - no unnecessary horizontal scrolling
    -# - sane initial zoom level
    -# - allow zooming out
    -#<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5" />
    %meta(name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5")

    = stylesheet_link_tag 'mobile_application'
    = javascript_include_tag 'mobile_application'
    = csrf_meta_tags

  %body{:lang => I18n.locale}
    .layout_whole
      .wrapper_top
        .layout_logo
          = link_to root_path do
            aalto apps

        .layout_info
          #top_menu.layout_menuitem
            = link_to _("home"), root_path
            = link_to _("browse"), '#menu-browse'
            = link_to _("main menu"), '#menu'
            = link_to _("search"), '#search'
          .layout_menuitem
            = _("Choose language:")
            = render :partial => '/layouts/locale_selector'
          .layout_menuitem= render :partial => '/layouts/mobile_version_selector'
          .layout_menuitem= render :partial => "/users/login_menu"

      .layout_frame
        .layout_master
          - if notice
            #notice= notice
          - if alert
            #alert= alert
          = content_for?(:content) ? yield(:content) : yield

        = render :partial => '/layouts/menu'
        = render :partial => "/products/search"

        = render :partial => '/layouts/footer'
